{% extends "frame.html" %}

{% block body %}
<table class="table">
	{% for row in devices|batch(3) %}
		<tr>
			{% for device in row %}
				<td class="span4" style="padding-bottom: 20px;">
					<div style="font-size: 16pt; font-weight: bold; margin-bottom: 5px;">{{device.name|capitalize}}</div>
					{% for sensor in device.sensors %}
						<div>{{sensor.name}}: {{sensor.value}}</div>
					{% endfor %}
					{% for group in device.controllers|groupby('group') %}
						<div style="margin-top: 5px">
							{% for controller in group.list|sort(attribute='order') %}
								<a href="/devices/controller?device=%22{{device.name}}%22&controller=%22{{controller.name}}%22" class="btn link-action" style="width: 50px">{{controller.name}}</a>
							{% endfor %}
						</div>
					{% endfor %}
				</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>
{% endblock %}

{% block script %}
<script type="text/javascript">
require(['jquery', 'common/bootstrap-ext'], function($) {
	$('.link-action').apiLink();
});
</script>
{% endblock %}
