{% extends "frame.html" %}

{% block css %}
<style>
.link-device {
	font-size: 16pt;
	font-weight: bold;
	margin-bottom: 5px;
	text-decoration: none;
	color: #005580;
}

a:hover {
	text-decoration: none;
}
</style>
{% endblock %}

{% block body %}
<table class="table">
	{% for row in devices|batch(3) %}
		<tr>
			{% for device in row %}
				<td class="span4" style="padding-bottom: 20px;">
					<a href="device?name={{device.name}}" class="link-device">
						{{device.name|capitalize}}
					</a>
					{% for sensor in device.sensors %}
						<div>{{sensor.name}}: {{sensor.value}}</div>
					{% endfor %}
					{% for group in device.controllers|groupby('group') %}
						<div style="margin-top: 5px">
							{% for controller in group.list|sort(attribute='order') %}
								<a href="controllers/trigger?name=%22{{controller.full_name}}%22" class="btn link-trigger" style="width: 50px">{{controller.name}}</a>
							{% endfor %}
						</div>
					{% endfor %}
				</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>
{% endblock %}

{% block script %}
<script type="text/javascript">
require(['jquery', 'common/bootstrap-ext'], function($) {
	$('.link-trigger').apiLink();
});
</script>
{% endblock %}
