{% extends "frame.html" %}

{% block body %}
<h2>{{device.name|title}}</h2>
<div class="row">
	<div class="span6">
		<h4>Sensors</h4>
		<table class="span6">
			{% for sensor in device.sensors %}
				<tr>
					<td class="span1">{{sensor.name}}</td>
					<td class="span4">{{sensor.value}} ({{sensor.time}})</td>
					<td class="span1" style="text-align: right">
						{% if sensor.interval %}
							<i class="icon-refresh" style="cursor: pointer" data-url="/sensors/update?name=%22{{sensor.full_name}}%22"></i>
						{% endif %}
						<i class="icon-edit" style="cursor: pointer" data-url="/sensors/set?name=%22{{sensor.full_name}}%22"></i>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	<div class="span6">
		<h4>Controllers</h4>
		{% for group in device.controllers|groupby('group') %}
			<div style="margin-top: 5px">
				{% for controller in group.list|sort(attribute='order') %}
					<a href="controllers/trigger?name=%22{{controller.full_name}}%22" class="btn link-trigger" style="width: 50px">{{controller.name}}</a>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
</div>
<div id="dialog" class="modal fade span6">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">New Value</h4>
			</div>
			<div class="modal-body">
				<input name="value" style="width: 99%" />
			</div>
			<div class="modal-footer">
				<button id="cancelButton" class="btn btn-default" style="width: 70px" data-dismiss="modal">Cancel</button>
				<button id="okButton" class="btn btn-primary" style="width: 70px">OK</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
require(['jquery', 'common/sdk', 'common/util', 'common/bootstrap-ext'], function($, sdk, util) {
	var dialog = $('#dialog');
	var valueInput = dialog.find('input[name=value]');
	var url = null;
	$('.icon-edit').click(function() {
		dialog.modal();
		valueInput.focus();
		url = $(this).attr('data-url');
		return false;
	});
	valueInput.enter(function() {
		$('#okButton').click();
	});
	$('#okButton').click(function() {
		url += '&value=' + valueInput.val();
		sdk.get(url, function(resp) {
			util.refresh();
		});
		dialog.modal('hide');
		return false;
	});
	
	$('.icon-refresh').click(function() {
		var url = $(this).attr('data-url');
		var valueTd = $(this).parent().prev('td');
		valueTd.text('Updating ...');
		sdk.get(url, function(resp) {
			valueTd.text(resp.value + ' (' + resp.time + ')');
		});
		return false;
	});
	
	$('.link-trigger').apiLink();
});
</script>
{% endblock %}
