{% extends "frame.html" %}

{% block css %}
<style>
.problem {
	font-size: 14pt;
	font-weight: bold;
	margin-bottom: 5px;
}

.solution {
	margin-left: 30pt;
}

.item-disabled {
	text-decoration: line-through;
}
</style>
{% endblock %}

{% block body %}
{% for item in items %}
	<div class="col-lg-12" style="margin-bottom: 30px">
		<div class="col-lg-12 problem {{item.problem.enabled()|test('', 'item-disabled')}}" style="{{item.problem.exists()|test('color: red')}}">
			{{item.problem.name}}: {{item.problem.description}}
		</div>
		{% for solution in item.solutions %}
			<div class="col-lg-12 solution {{solution.enabled(item.problem)|test('', 'item-disabled')}}" style="{{solution.applied()|test('color: #006600; font-weight: bold', 'color: gray')}}">
				{{solution.name}}: {{solution.description}}
			</div>
		{% endfor %}
	</div>
{% endfor %}
{% endblock %}
